img {
	display: block;
	height: 100px;
	width: 300px;
	margin: auto;
}

p {
	text-align: center;
	font-family: Garamond;
	font-size: 18px;
}


a {
	text-decoration: none;
	color: #FB3882;
	font-family: Verdana;
}

span {
	font-weight: bold;
	font-size: 18px;
	color: #0000CC;
}

#bar {
position: bottom;
top: -10px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
text-align:center;
}

.bar {
	display: inline;
	padding: 5px;
	border: 2px solid #000000;
	border-radius: 5px 5px;
	text-align: center;
	background-color: #3366CC;
}

body {
	background-color: #FFFFCC;
}

#skype {
	text-decoration: none;
	color: #01CEFE;
	font-family: Verdana;
}
